<h1 class="text-success text-center">Diretivas de Atributos</h1>

<!-- diretiva ngStyle é chamada por [] , poder de lógica direto no template-->
<!-- if ternario se count menor q 5 background red , se maior verde -->
<div [ngStyle]="{background: count < 5 ? 'red': 'green'}"
[ngClass]="{custom: count > 5 }">
  <!-- Chamando a variavel da lógica  {{}}-->
  <h2>Contador: {{count}}</h2> 
</div>



<h1 class="text-success text-center">Diretivas Estruturais</h1>

<!-- o * resume o ng-template , ex:
ng-template [ngIf]= "count > 7"-->
<h2 *ngIf="count > 7; else menor"> O contador passou de 7 </h2>

<br>

<ng-template #menor>
  <h2>O contador é menor que 7</h2>
</ng-template>

<br>

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
  <li 
  class="list-group-item"
  *ngSwitchCase="3">
    É igual a 3
  </li>

  <li 
  class="list-group-item"
  *ngSwitchCase="5">
    É igual a 5
  </li>

  <li 
  class="list-group-item"
  *ngSwitchCase="8">
    É igual a 8
  </li>

  <li 
  class="list-group-item"
  *ngSwitchDefault="">
    Esse é o default
  </li>
</ul>

<br>

 <ul class="list-group mx-auto col-6">
  <li class="list-group-item" *ngFor="let pessoa of pessoas">
    Nome: {{pessoa.firstName}} {{pessoa.lastName}}
  </li>
</ul>

 <!-- ngFor por baixo dos panos  -->

<!-- <br>
<ul class="list-group mx-auto col-6">
  <ng-template ngFor let-pessoa [ngForOf]="pessoas"> 
    <li class="list-group-item">
    Nome: {{pessoa.firstName}} {{pessoa.lastName}}, Idade: {{pessoa.age}}
    </li>
  </ng-template> 
</ul> -->

<app-list-people> </app-list-people>


<div class="col-4 mx-auto my-3">
<h3 appMarcaTexto corDeFundo="blue" corDoTexto="red"> {{nome}} </h3>

<br>
<!-- bind : ação do HTML para o JS -->
<button class="btn btn-success" (click)="clicou('Juliana')"> 
  Clique aqui 
</button>
</div>

<br><br>
<!-- two way data binding -->
<div class="col-4 mx-auto">
  <input type="text" class="form-control" placeholder="digite algo" [(ngModel)]="text">
  <h4>saída: {{text}} </h4>
</div>

<br> <br>
<!-- implementando uma API -->
<div class="container my-5">
  <div class="row d-flex align-items-center justify-content-center">
    <h2 class="text-center">Listagem de Personagens Rick and Morty</h2>
    <div class="col-12">
      <app-list-api></app-list-api>
    </div>
  </div>
</div>